﻿
@{
    @model RSLCodeChallengeExercise.Models.OpenDrawsResponse
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open Draws</title>
</head>
<body>
    <div>

        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Draw Logo</th>
                <th>Draw Number </th>
                <th>Draw Date </th>
                <th>Draw Display Name </th>
                <th>Draw Type</th>
                <th>Lottery Amount</th>
            </tr>
            @foreach (var d in Model.Draws)
            {
                <tr>
                    <td>@d.DrawLogoUrl</td>
                    <td>@d.DrawNumber</td>
                    <td>@d.DrawDate</td>
                    <td>@d.DrawDisplayName</td>
                    <td>@d.DrawType</td>
                    <td>@d.Div1Amount</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>





